# EX 1

In [35]:
df_EUR_M_cap=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/FINAL/df_EUR_monthly_capitalization.csv')
df_EUR_M_RI=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/FINAL/df_EUR_monthly_return.csv')
df_EUR_Y_cap=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/FINAL/df_EUR_yearly_capitalization.csv')
df_EUR_Y_RI=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/FINAL/df_EUR_yearly_return.csv')

In [36]:
import matplotlib as plt

In [37]:
import pandas as pd
import ssl

#ssl._create_default_https_context = ssl._create_unverified_context
#Import environmental score dataset (excel)
ESG_index_path = 'https://github.com/GiammarcoBozzelli/SEF/raw/main/ESG_Scores/DS_EScore_Y.xlsx'  # Replace with your Excel file name
df_E = pd.read_excel(ESG_index_path)

#Import country-to-region dataset (excel)
region_path = 'https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/baltha/CountriesToRegions.xlsx'  # Replace with your Excel file name
df_region = pd.read_excel(region_path)

#Let's keep only the EUR countries
df_region.drop(index=[0,1,2,3], inplace= True )
df_EUR = df_region[df_region['Unnamed: 2'] == 'EUR']

#Rename the column so we can merge later
df_EUR = df_EUR.rename(columns={'% AMER: Cnada + USA' : 'ISIN_First2'})

#Create a new column in the E score dataset with only the 2 first characters of the column ISIN
df_E['ISIN_First2'] = df_E['ISIN'].str[:2]

#Merge the E score dataset with the EUR countries dataset
df_E_EUR = pd.merge(df_EUR,  df_E, on='ISIN_First2', how='inner')

In [38]:
df_E_EUR

,ISIN_First2,Unnamed: 1,Unnamed: 2,ISIN,NAME,x1999,x2000,x2001,x2002,x2003,...,x2013,x2014,x2015,x2016,x2017,x2018,x2019,x2020,x2021,x2022
0,AT,AUSTRIA,EUR,AT000000STR1,STRABAG SE,NaN,NaN,NaN,NaN,NaN,...,50.09,48.69,55.55,56.98,58.49,64.61,62.49,60.42,58.09,56.89
1,AT,AUSTRIA,EUR,AT00000VIE62,FLUGHAFEN WIEN,NaN,NaN,NaN,NaN,18.31,...,27.17,34.81,51.84,47.48,78.01,76.99,71.53,75.00,78.49,NaN
2,AT,AUSTRIA,EUR,AT0000606306,RAIFFEISEN BANK INTL.,NaN,NaN,NaN,NaN,NaN,...,68.68,73.75,75.14,82.52,82.94,61.29,63.22,61.36,62.62,61.64
3,AT,AUSTRIA,EUR,AT0000652011,ERSTE GROUP BANK,NaN,NaN,NaN,27.08,24.60,...,83.81,79.57,81.98,83.86,87.20,80.89,81.18,79.44,76.58,76.91
4,AT,AUSTRIA,EUR,AT0000720008,TELEKOM AUSTRIA,NaN,NaN,NaN,NaN,NaN,...,71.34,73.61,73.82,62.69,63.56,63.59,64.30,64.79,59.94,59.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,SE,SWEDEN,EUR,SE0016589188,ELECTROLUX B,NaN,NaN,NaN,NaN,NaN,...,80.68,77.75,76.38,80.69,66.64,66.36,70.94,75.90,81.60,82.91
532,SE,SWEDEN,EUR,SE0017486889,ATLAS COPCO A,NaN,NaN,NaN,57.86,62.85,...,82.89,79.49,76.71,76.36,79.25,81.45,82.24,84.08,84.56,80.82
533,SE,SWEDEN,EUR,SE0018012494,MODERN TIMES GROUP MTG B,NaN,NaN,NaN,0.00,0.00,...,67.94,65.88,71.52,68.49,63.17,58.79,64.91,64.91,64.28,65.74
534,SE,SWEDEN,EUR,SE0018012635,WIHLBORGS FASTIGHETER,NaN,NaN,NaN,NaN,NaN,...,58.63,59.99,72.87,69.28,60.69,57.71,57.71,63.23,58.48,51.34
535,SE,SWEDEN,EUR,SE0020050417,BOLIDEN ORD SHS,NaN,NaN,NaN,NaN,NaN,...,88.96,86.24,83.62,81.92,81.76,83.92,86.41,86.39,85.22,88.23

In [39]:
summary_stats = df_E_EUR.describe()

In [40]:
Escore_mean = summary_stats.loc['mean']

In [42]:
plt.figure(figsize=(10, 6))

AttributeError: module 'matplotlib' has no attribute 'figure'

In [43]:
# Tracer l'histogramme de l'évolution de la moyenne des scores
plt.figure(figsize=(10, 6))
plt.bar(Escore_mean.index, Escore_mean.values, color='skyblue')
plt.title("Évolution de la moyenne des scores des entreprises à travers les années")
plt.xlabel("Year")
plt.ylabel("Environmental Score")
plt.xticks(rotation=45)  # Rotation des étiquettes d'année pour une meilleure lisibilité
plt.grid(True)
plt.show()

AttributeError: module 'matplotlib' has no attribute 'bar'